<!DOCTYPE html>
<html>
<!-- Check Device Width so Media Queries will work -->
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<head>
    <meta charset="ISO-8859-1">
    <title>Your MedPrice</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="AutoFiller.js"></script>
    <link rel="stylesheet"
          href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
    <!-- User defied css -->
    <link rel="stylesheet" href="stylesheet.css">

</head>
<body>
<br />
<br />

<form method="post" action="../view/submitform.php">
    <div class="gridbox-gridmenu" id="mainDiv">
        <div class="MainHeader" id="header">
            <h1><center>Price of medical procedures in your area</center></h1>
        </div>

        <div class ="background">

            </br>

            <textarea class="user-gender" name="userZip" id="userZip" cols="20" rows="1"  onfocus="this.value=''; ">Enter Your Zip</textarea>

            </br>
            </br>

            <textarea class="user-gender" name="userGender" id="userGender" cols="20" rows="1"  onfocus="this.value='';">Gender</textarea>


            </br>
            </br>


            <textarea class="facilitySearch-container" name="facilitySearch" id="facilitySearch" cols="20" rows="2"  onfocus="this.value='';">Institution</textarea>


            </br>
            </br>

            <textarea class="diagnosis-container" name="diagnosisDesc" id="diagnosisDesc" cols="40" rows="2" onfocus="this.value='';">Medical Description</textarea>

            </br>
            </br>

            <textarea class="ICD10-container" name="icd10search" id="icd10search" cols="40" rows="1" onfocus="this.value='';">ICD-10 Code</textarea>


            </br>
            </br>

            <textarea class="price-container" name="price" id="price" cols="40" rows="1" onfocus="this.value='';">How Much?</textarea>

            </br>
            </br>

            <button class = "submitButton" > Submit Info </button>
        </div>
    </div >
</form>
</br>
<br />

</body>
</html>

