#mainDiv {
    float: none;
    width: auto;

}
#userZip,#userGender,#facilitySearch,#diagnosisDesc,#icd10search,#price
{
    width: 50%;
    border: 2px solid #a1a1a1;
    padding: 10px 40px;
    background: orange;

    border-radius: 25px;
    font-size: x-large;
}
.submitButton
{
    background-color: #4CAF50; /* Green */
    width: 50%;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
#header
{
    width:50%;
    background: slategrey;
    border: 2px solid red;
    border-radius: 25px;
    font-family: cursive;
}
@media only screen and (max-width: 460px) {
    #gridbox-gridmenu {
        float: none;
        width: 100%;

    }
    #userZip,#userGender,#facilitySearch,#diagnosisDesc,#icd10search,#price
    {
        width: 80%;
        border: 2px solid #a1a1a1;
        padding: 10px 40px;
        background: orange;

        border-radius: 25px;
        font-size: x-large;
    }
    #header
    {
        width: 100%;
        background: lightskyblue;
        border: 2px solid red;
        border-radius: 25px;
        font-family: cursive;

    }
    .submitButton
    {
        background-color: #4CAF50; /* Green */
        width: 100%;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        -webkit-transition-duration: 0.4s; /* Safari */
        transition-duration: 0.4s;
    }


}

